<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hanxu5">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appcon"
        android:label="校园座位预约"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.UpdateBooksActivity"></activity>
        <activity android:name=".activity.QueryBooksActivity" />
        <activity android:name=".activity.DeleteBooksActivity" />
        <activity android:name=".activity.AddbooksActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>